body { background: #fff; }
a {
	color: #08c;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
a:hover { color: #D52925; }
hr { border-color: #000; }

.nav-menu .pull-left { padding: 10px 0; }
.nav-menu .topbar { padding: 0; line-height: 100px; }
.nav-menu .logo a { width: 85px; height: 70px; display: inline-block; }

.nav-menu ul.topbar>li { margin: 0 25px; vertical-align: middle; display: inline-block; height: auto; float: none; padding: 0; line-height: 100%; text-align: center; }
.nav-menu ul.topbar>li:first-child { margin-left: 0; }
.nav-menu ul.topbar>li:last-child { margin-right: 0; }
ul.topbar>li.logo { margin: 0 60px; width: auto; }
.nav-menu ul.topbar li a { color: #000; font-size: 1em; cursor: pointer; font-family: 'typomodernobold'; letter-spacing: 0.5pt; text-transform: uppercase; }
.nav-menu ul.topbar li a:hover { color: #D52A25; }
.nav-menu ul.topbar li a i { margin: 0 0 0 3px; font-size: 0.9em; }

.nav-menu ul.topbar .subMenu { width: auto; margin: 0; top: 100%; display: none; position: absolute; padding: 0; list-style: none; background: #fff; border: 1px solid #ddd; border-top: none; }
.nav-menu ul.topbar ul li { margin: 0; }
.nav-menu ul.topbar ul li a { position: relative; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100%; border-bottom: 1px solid #e5e5e5; line-height: 130%; padding: 8px 30px; color: #000; display: block; font-size: 0.9em; }
.nav-menu ul.topbar ul li:last-child a { border-bottom: 0; }

.hide { display: none!important; }

main.content { margin: 0; padding: 0; }
main article.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
	padding: 0 15px;
}

.nav-menu {
	height: auto;
	background: transparent; 
	border-color: #aaa; 
	position: relative;
}
.nav-menu .brand {
	text-align: center;
	position: relative;
	margin: 0;
	padding: 10px 0;
}
.nav-menu .brand a {
	background: url(../img/logo.png) center no-repeat; 
	background-size: contain; 
	text-indent: -6666em; 
	display: inline-block; 
	margin: 0; 
	width: 65px;
	height: 65px;
}
.nav-menu .menuArea {
	display: none;
}

.resp-tabs-list .resp-tab-active h4 { border-top: 0; padding-bottom: 1px; }
.resp-tab-active:first-child { border-left: none; }
.resp-tab-content { border:0; border-top: 1px solid #aaa; padding: 20px 0 0; border-bottom: 1px solid #aaa; }
h2.resp-accordion { border-top: 1px solid #aaa; color: #8A8A89; }
h2.resp-accordion:first-child { border-top: 1px solid #aaa !important; }
h2.resp-tab-active { border: 1px solid #aaa; border-bottom: none; color: #D52925; }

h2.resp-accordion { background: transparent!important; padding: 10px 0!important; border: 1px solid #aaa; border-top: 0!important; border-right: 0; border-left: 0; font-size: 16px; font-family: 'typomodernobold'; letter-spacing: 0.5pt; }
h2.resp-accordion:first-child { border-top: 0!important; padding-top: 0!important; }
h2.resp-tab-active span.resp-arrow { border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 8px solid #D52925; }
.resp-arrow { margin-top: 10px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 8px solid #8A8A89; }

.product .thumbPreview .title { font-size: 16px; cursor: pointer; color: #8A8A89; line-height: 130%; font-family: 'typomodernobold'; letter-spacing: 0.5pt; font-weight: 400; }
.product .thumbPreview .title:hover,
.product .thumbPreview .title.resp-tab-active { color: #D52925; }
.product .thumbPreview .title span { vertical-align: middle; } 
.product .thumbPreview .title .icn { 
	display: inline-block; margin: 0 3px 0 0; width: 20px; height: 20px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.product .shirtButton .icn { background: url(../img/icn-shirt2.png) center no-repeat; background-size: cover; }
.product .shirtButton.resp-tab-active .icn,
.product .shirtButton:hover .icn { background: url(../img/icn-shirt3.png) center no-repeat; background-size: cover; }
.product .jacketButton .icn { background: url(../img/icn-jacket2.png) center no-repeat; background-size: cover; }
.product .jacketButton.resp-tab-active .icn,
.product .jacketButton:hover .icn { background: url(../img/icn-jacket3.png) center no-repeat; background-size: cover; }
.product .sweatherButton .icn { background: url(../img/icn-sweather2.png) center no-repeat; background-size: cover; }
.product .sweatherButton.resp-tab-active .icn,
.product .sweatherButton:hover .icn { background: url(../img/icn-sweather3.png) center no-repeat; background-size: cover; }
.product .uniformButton .icn { background: url(../img/icn-uniform2.png) center no-repeat; background-size: cover; }
.product .uniformButton.resp-tab-active .icn,
.product .uniformButton:hover .icn { background: url(../img/icn-uniform3.png) center no-repeat; background-size: cover; }

.product .thumb { position: relative; margin-bottom: 30px; }
.product .thumb a { display: block; color: #8A8A89; line-height: 120%; }
.product .thumb a:hover { color: #D52925; }
.product .thumb h6 { margin-top: 0; color: #8A8A89; font-size: 1.1em; }
.product .thumb .imageArea { position: relative; background-color: #efeeef; }
.product .thumb .badge { 
	border: 0; position: absolute; top: 10px; right: 10px; padding: 6px 8px; font-size: 0.9em; color: #fff; background-color: #D52925; font-family: 'typomodernobold'; letter-spacing: 1px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.64);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.64);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.64);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.64);
	box-shadow: 0 0 5px rgba(0,0,0,0.64);
}
.product .thumb .badge.disc { background-color: #ff9500; }
.product .productThumb .img { display: block; height: 270px; }
.product .productThumb.print .img { height: 280px; }
.product .productThumb .tagline { margin: 0 0 10px; display: inline-block; color: #000; font-family: 'typomodernobold'; letter-spacing: 1px; font-size: 1.1em; line-height: 150%; padding-bottom: 7px; border-bottom: 1px solid #000; }
.product .productThumb .tagline:hover { color: #D52925; }

.product .thumb .descArea { margin-top: 10px; }

ul.pagination li.active a { background: #D52925; }

.heroBanner { border-bottom: 1px solid #aaa; margin-bottom: 20px; }
.heroBanner .bannerSlide,
.heroBanner .bannerSlide a { display: block; height: 300px; }
.heroBanner .bannerSlide { width: 100%; }
.heroBanner .bannerSlide img { display: none; width: 100%; }

.imageAbout { border-bottom: 1px solid #aaa; }
.imageAbout .image { display: block; height: 200px; }

.storeContent { background-color: #f9f9f9; padding: 30px 0 0; border-top: 1px solid #aaa; text-align: center; }
.storeContent .xlarge-6:first-child { padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #aaa; }
.storeContent h6 { margin: 0; color: #8A8A89; line-height: 130%; font-size: 1em; }
.storeContent h6 strong { color: #666; }
.storeContent h6 strong.red { color: #D52925; }
.storeContent .label { font-family: 'typomodernobold'; letter-spacing: 1px; color: #000; text-transform: uppercase; margin-bottom: 5px; line-height: 150%; }
.storeContent ul { margin: 0; padding: 0; list-style: none; }
.storeContent .word { border: 1px solid #aaa; padding: 10px 20px; margin: 30px 0; background: #efeeef; }
.storeContent hr { width: 30px; margin: 15px auto; }

#map { width: 100%; height: 250px; border-top: 1px solid #aaa; }

.client { padding: 30px 0; border-top: 1px solid #aaa; margin-top: -1px; }
.client .clientSlide,
.client .clientSlide span { height: 40px; display: block; }
.client .clientSlide span {
	padding: 0 10px;
	-webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%); 
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%); 
	filter: grayscale(100%);
}
.client .clientSlide span:hover {
	-webkit-filter: grayscale(0%); 
	-moz-filter: grayscale(0%); 
	-ms-filter: grayscale(0%); 
	-o-filter: grayscale(0%); 
	filter: grayscale(0%);
}

.titleArea { margin: 0 0 20px; }
.titleArea .title,
.titleArea .link { font-family: 'typomodernobold'; letter-spacing: 0.5pt; text-transform: uppercase; line-height: 100%; }
.titleArea .title { color: #000; font-size: 1.8em; }
.titleArea p { color: #999; font-size: 1.1em; line-height: 130%; margin: 0; }
.titleArea .link { color: #999; padding: 7px 0; }
.titleArea .link:hover { color: #D52925; }

.about .aboutArea h6 { font-size: 1.1em; }
.price .priceArea img { display: table; width: 100%; }
.order .orderArea form { padding: 0; }

.productView { position: relative; }
.productView .thumbView { position: relative; }
.productView .thumbView .image a { display: block; height: 200px; }


.thumbnails { padding: 1px 0; }
.thumbnails .thumbArea { padding: 1px 0; }
.thumbnails .thumbArea .thumb { position: relative; }
.thumbnails .thumbArea a { display: block; }
.thumbnails .thumbArea .image { display: block; height: 200px; }
.thumbnails .thumbArea .desc { position: absolute; bottom: 0; right: 0; left: 0; background: rgba(0, 0, 0, 0.6); text-align: center; }
.thumbnails .thumbArea .desc a { padding: 10px 20px; font-size: 1.1em; color: #fff; }

.thumbView .descript { padding: 20px 0; }
.thumbView .descript hr { width: 30px; border-color: #000; }
.thumbView .descript a { display: block; }
.thumbView .descript span { display: block; text-align: center; color: #000; font-size: 0.9em; padding: 0 20px; }
.thumbView .descript span.category { margin-bottom: 10px; font-style: italic; }
.thumbView .descript span.name { font-size: 1.2em; }
.thumbView .image { position: relative; }
.thumbView .hover { background: url(../img/hover-bg.png) center top no-repeat; background-size: contain; position: absolute; top: 0; right: 0; left: 0; height: 25px; z-index: 2; pointer-events: none; display: block; }

.thumbView.promo .promoImage { background: url(../img/promo.png) center top no-repeat; background-size: contain; position: absolute; top: 0; left: 0; z-index: 2; pointer-events: none; width: 90px; height: 90px; }
.thumbView.promo .descript hr { border-color: #ff9500; }
.thumbView.promo .descript span { color: #ff9500; }

.contact ul { list-style-type: circle; }

.pagingArea { padding: 20px 0; }
.pagingArea ul.pagination { margin: 0 auto; }
.pagingArea ul.pagination li a { line-height: 30px; padding: 0 10px; font-size: 1.2em; border-radius: 0; }
.pagingArea ul.pagination li.active a { background: #000; }

.detail .wrapper { padding: 0; }
.detail .detailContent { margin-bottom: 30px; }
.detail .detailContent:last-child { margin-top: 30px; }
.detail .imageDetail .image { display: table; height: 280px; width: 100%; }
.detail hr { width: 30px; display: inline-block; margin: 15px 0 }
.detail .detailDesc h3 { font-family: 'typomodernobold'; letter-spacing: 0.5pt; line-height: 140%; border-bottom: 1px solid #000; text-transform: uppercase; font-size: 1.5em; margin-bottom: 20px; padding: 0 0 10px; color: #000; }
.detail .detailDesc h6 { margin: 0 0 10px; text-transform: uppercase; font-size: 1em; letter-spacing: 1px; color: #000; font-family: 'typomodernobold'; }
.detail .detailDesc p { font-size: 1em; line-height: 150%; color: #707070; }
.detail .detailDesc ul p { margin: 0; }
ul.share { width: 100%; }
ul.share li { margin: 0; width: 33.33%; padding: 0 5px; }
ul.share a { display: block; text-align: center; line-height: 100%; padding: 12px 0; font-size: 1.4em; margin: 0; }
ul.share a i { width: auto; margin: 0; }

.detail .color span { 
	width: 30px; height: 30px; display: inline-block; border-radius: 100%; background: #f5f5f5; cursor: pointer;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
.detail .color span.active { border: 4px solid rgba(0, 0, 0, 0.3); }
.detail .color span.gray { background: #8A8A89; }
.detail .color span.red { background: #D52925; }
.detail .color span.blue { background: #28b0dd; }
.detail .color span.green { background: #0FB61D; }
.detail .color span.yellow { background: #f8b828; }
.detail .imageDetail { background: #efeeef; }
.detail .imageDetail a { display: block; }
.detail .imagePagination { padding-top: 2px; }
.detail .imagePagination .image { display: table; height: 70px; width: 100%; }
#sync2 a { display: block; padding: 3px; }
#sync2 .synced .image { border: 5px solid rgba(213, 41, 37, 0.7); }


.inputArea { margin-bottom: 30px; }
.inputArea .row { margin: 0; }
.inputArea .inputContent { padding: 0; }
.inputArea ::-webkit-input-placeholder { color: rgba(48, 48, 48, 0.6); }
.inputArea :-moz-placeholder { color: rgba(48, 48, 48, 0.6); }
.inputArea ::-moz-placeholder { color: rgba(48, 48, 48, 0.6); }
.inputArea :-ms-input-placeholder { color: rgba(48, 48, 48, 0.6); }
.inputArea .wrapper { padding: 0; }
.inputArea .input { margin: 0; padding: 5px 0; }
.inputArea .input input,
.inputArea .input textarea { border: 1px solid #aaa; border-radius: 0; color: #303030; padding: 10px; font-weight: 400; }

.uploadArea ul { margin: 0 auto; padding: 0; text-align: center; }
.uploadArea ul li { display: table; line-height: 0; padding: 5px; margin: 0; float: none; display: inline-block; }
.uploadArea .imageArea { width: 100%; height: 138px; display: inline-block; border: 1px solid #aaa; position: relative; }
.uploadArea .imageArea .image { display: block; height: 100%; }
.uploadArea .imageArea .image.empty { display: none!important; }
.uploadArea .imageArea .bg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(255, 255, 255, 0.6); }
.uploadArea .imageArea .buttonUpload { font-size: 6em; line-height: 136px; font-weight: 100; text-align: center; display: block; color: #aaa; }

.journal.container { padding: 20px 0; }
.journal .titleArea { padding: 0 15px; }
.journal .subTitle { font-size: 1.4em; line-height: 130%; font-family: 'typomodernobold'; letter-spacing: 0.5pt; padding-bottom: 5px; margin-bottom: 5px; color: #666; }
.journal .subTitle a { color: #666; }
.journal .subTitle a:hover { color: #D52925; }
.journal .date { font-style: italic; font-size: 1.1em; color: #8A8A89; letter-spacing: 0.3pt; padding: 3px 0; margin: 0; }
.journal .share { 
	cursor: pointer; font-style: normal; border: 1px solid #aaa; padding: 2px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.journal .share.click,
.journal .share:hover { color: #D52925; border-color: #D52925; }
.journal .share .xn { width: auto; margin-right: 0; }
.journal .share .text { display: none; }
.journal p { font-size: 1em; margin: 8px 0 0; }
.journal .contentArea { padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #aaa; }
.journal .contentArea:last-child { margin-bottom: 0; border-bottom: 0; }
.journal .contentArea img { width: 100%;display: table; margin-bottom: 20px; }
.journal .contentArea .dateShare { margin: 0 0 10px 0; }
.journal .contentArea .shareToggle { position: relative; }
.journal .contentArea .more { padding: 10px 20px 13px; margin-top: 20px; }
.journal .journalContent,
.journal .journalSidebar { padding: 0 15px; }
.journal .journalSidebar { padding-top: 30px; border-top: 1px solid #aaa; }
.journal .journalSidebar .row { margin-bottom: 40px; }
.journal .journalSidebar ul { padding-left: 20px; margin: 0; }
.journal .journalSidebar ul a { font-size: 1em; color: #666; text-decoration: underline; }
.journal .journalSidebar ul a:hover { color: #D52925; }

.context-menu,
.context-menu li.divider,
.context-menu li:first-child:before {
  border-color: #aaa;
}

.context-menu li a.hover, 
.context-menu li a:hover {
	background: transparent;
	color: #D52925; 
}
.context-menu li a .xn { margin-right: 5px; }


a.button,
input[type="submit"] { 
	border: 0; color: #fff; text-transform: uppercase; margin: 0; display: block; font-size: 1em; padding: 10px 30px 13px; font-family: 'typomodernobold'; letter-spacing: 0.5pt; margin-top: 10px; background-color: #8A8A89; line-height: 100%; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
a.button:hover,
input[type="submit"]:hover { background-color: #D52925; }

.submitArea { margin-top: 30px; }
.submitArea input[type="submit"] { margin-top: 0; width: 100%; }

footer .social { margin: 0 auto; margin-bottom: 10px; }
footer .social li:hover .fb { background: #3A5898; color: #fff; }
footer .social li:hover .pin { background: #E60000; color: #fff; }
footer .social li:hover .ins { background: #3A5898; color: #fff; }
footer .social li:hover .twit { background: #01ACED; color: #fff; }
footer .social a { 
	font-size: 1.4em; color: #808080; margin: 0; background-color: #ddd; line-height: 35px; text-align: center; width: 35px; height: 35px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


footer { border: none; margin: 0; padding: 20px 0; background-color: #808080; }
footer a,
footer p { color: #ccc; }
footer p { padding: 10px 0; font-size: 0.8em; padding: 0; }
footer .contact { padding-bottom: 30px; margin-bottom: 20px; border-bottom: 1px solid rgba(248,248,248,.1); }
footer .contact p { padding: 0; font-size: 1em; }
footer .contact li { border-right: 1px solid #ccc; padding-right: 15px; margin-right: 15px; }
footer .contact li:last-child { border-right: 0; padding-right: 0; margin-right: 0; }


.owl-theme .owl-controls { text-align: center; }
.owl-theme .owl-controls .owl-pagination { position: absolute; bottom: 0; left: 0; right: 0 }
.owl-theme .owl-controls .owl-page { display: inline-block; zoom: 1; }
.owl-theme .owl-controls .owl-page span { 
	display: block; width: 16px; height: 16px; margin: 5px 7px; border: 1px solid rgba(255, 255, 255, 0.9); background: transparent;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 16px rgba(0,0,0,0.64);
	-moz-box-shadow: 0 0 16px rgba(0,0,0,0.64);
	-ms-box-shadow: 0 0 16px rgba(0,0,0,0.64);
	-o-box-shadow: 0 0 16px rgba(0,0,0,0.64);
	box-shadow: 0 0 16px rgba(0,0,0,0.64);
}
.owl-theme .owl-controls .owl-page.active span { background: #D52925; border-color: #D52925; }
.owl-buttons { display: none; } 
.owl-buttons .owl-prev, 
.owl-buttons .owl-next { position: absolute; top: 50%; margin-top: -68px; background: rgba(255, 255, 255, 0.5); padding: 15px; }
.owl-buttons .owl-prev:hover, 
.owl-buttons .owl-next:hover { background: rgba(255, 255, 255, 0.9); }
.owl-buttons .owl-prev { 
	left: 0; 
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.owl-buttons .owl-next { 
	right: 0; 
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.client .owl-theme .owl-controls .owl-pagination { bottom: -30px; }
.client .owl-theme .owl-controls .owl-page span { width: 8px; height: 8px; background: #808080; border: 0; box-shadow: none; margin: 5px; }
.client .owl-theme .owl-controls .owl-page.active span { background: #D52925; }

.arrow { width: 40px; height: 106px; display: inline-block; }
.arrow.left { background: url(../img/arrow-left.png) center no-repeat; background-size: contain; }
.arrow.right { background: url(../img/arrow-right.png) center no-repeat; background-size: contain; }

.toggleDown { 
	position: absolute;
	right: 10px;
	left: initial;
	padding: 10px 0 10px 10px; 
	font-size: 1.3em;
    margin: -60px 0 0 0;
}
.toggleMenu { border-top: 1px solid #aaa; display: none; margin: 0; padding: 0; list-style: none; }
.toggleMenu li { margin: 0; }
.toggleMenu li a { display: block; padding: 12px 20px; border-bottom: 1px solid #aaa; font-size: 1.1em; color: #000; line-height: 120%; font-family: 'typomodernobold'; letter-spacing: 0.5pt; text-transform: uppercase; }
.toggleMenu li:last-child a { border-bottom: 0; }
.toggleMenu li span { float: left; }
.toggleMenu li i { float: right; width: auto; margin: 0; }


/*MENU TOGGLE*/
.menu-toggle-btn { cursor: pointer; display: inline-block; }
.menu-toggle-btn span {
  background: #000; display: block; width: 21px; height: 3px; margin-bottom: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu-toggle-btn span:last-child { margin-bottom: 0; }
.toggleDrawer .menu-toggle-btn span:nth-child(1), 
.toggleDrawer .menu-toggle-btn span:nth-child(3) {
  margin: 0;
  transform: translate(0px, -4px) rotate(-45deg) scalex(1); 
  -webkit-transform: translate(0px, -4px) rotate(-45deg) scalex(1); 
}
.toggleDrawer .menu-toggle-btn span:nth-child(2) { height: 0; margin: 0; }
.toggleDrawer .menu-toggle-btn span:nth-child(3) {
  transform: translate(0px, -7px) rotate(45deg) scalex(1);               
  -webkit-transform: translate(0px, -7px) rotate(45deg) scalex(1);               
}


#portfolio { display:table!important; width:100%; padding:0; }
#portfolio li { font-size:1.2em; padding:0; line-height:48px; font-weight:400 }
#portfolio .porto { padding: 10px; text-align: center; }
#portfolio .porto .image { display: block; height: 350px; padding: 20px; }

#portfolio .productThumb .imageArea { padding: 20px; }
#portfolio .productThumb .thumb { padding: 0; }
#portfolio .productThumb .img { height: 160px; }
#portfolio .productThumb .descArea .subTitle { display: block; color: #999; font-size: 1em; font-style: italic; }
#portfolio .productThumb .descArea h4 { margin: 5px 0 0; color: #000; font-family: 'typomodernobold'; letter-spacing: 1px; font-size: 1.1em; line-height: 130%; }
/*#portfolio .porto .button { 
	display: block; font-size: 1em; padding: 10px 30px 13px; font-family: 'typomodernobold'; letter-spacing: 0.5pt; margin-top: 10px; background-color: #8A8A89; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#portfolio .porto .button:hover { background-color: #D52925; }*/



/*#portfolio .button,
.resp-vtabs ul.resp-tabs-list li { overflow:hidden; text-overflow:ellipsis; white-space:nowrap }
.resp-vtabs ul.resp-tabs-list li { padding: 0 0 0 20px!important; text-align: left; }
.resp-vtabs ul.resp-tabs-list li i { margin-right: 10px; }
.resp-vtabs ul.resp-tabs-list { display:none }
.resp-vtabs .resp-tabs-container { display:table; width:100%; border-color:#aaa; }
.resp-vtabs .resp-tabs-container h2 { border-color:#aaa!important; font-size:1.3em; margin:0; border-left: 0; border-right: 0; }
.resp-vtabs .resp-tab-content { display: none; padding: 30px; text-align: center; border-left: 0; border-right: 0; }
.resp-vtabs .resp-tab-content:last-child { border-color: #aaa!important; }
.resp-vtabs .resp-tab-content-active { display:block; border-color:#aaa }
.resp-vtabs h2,
.resp-vtabs h2.resp-tab-active { background:#fff!important }
.resp-vtabs .resp-arrow { margin-top:12px; border-left:6px solid transparent; border-right:6px solid transparent; border-top:6px solid #aaa }
.resp-vtabs .resp-tab-active span.resp-arrow { border-left:6px solid transparent; border-right:6px solid transparent; border-bottom:6px solid #aaa }
#portfolio .resp-accordion i,
#news .resp-accordion i { margin-right: 10px; }*/








/*.resp-tabs-list li h4 { border-top: 1px solid transparent; }*/





/*.gmnoprint { display: none; }*/
/*.gm-style-cc { display: none; }*/



@media (min-width:768px) {
	
	.container {
		padding: 0;
	}

	.titleArea { 
		margin: 0 0 50px; 
	}
	.titleArea .title {
		font-size: 2.4em;
	}
	.heroBanner {
		margin-bottom: 50px;
	}
	.heroBanner .bannerSlide, 
	.heroBanner .bannerSlide a.banner { height: auto; }
	.heroBanner .bannerSlide a.banner { display: none; }
	.heroBanner .bannerSlide img { display: table; }
	.storeContent { 
		padding: 50px 0 0; 
		text-align: left;
	}
	main article.row {
	    padding: 50px 0;
	}
	.imageAbout .image {
		height: 400px;
	}
	.product .thumb {
		min-height: 440px;
		margin-bottom: 50px;
		padding: 0 10px 0 10px;
	}
	.product .productThumb .img {
		height: 350px;
	}
	#portfolio .productThumb .thumb { 
		min-height: 316px; 
		padding: 0 10px 0 10px;
	}
	#portfolio .productThumb .img { 
		height: 200px; 
	}
	.product .productThumb.print .thumb {
	    min-height: 520px;
	}
	.product .productThumb.print .img {
	    height: 450px;
	}
	.storeContent ul {
		list-style-type: disc;
    	padding-left: 1.2em;
	}
	.storeContent h6 {
		font-size: 1.2em; 
	}
	.storeContent .xlarge-6:first-child { 
		padding-right: 10px; 
		margin-bottom: 0; 
		padding-bottom: 0;
		border: 0;
	}
	.storeContent .xlarge-6:last-child { 
		padding-left: 10px; 
	}
	.storeContent hr {
		margin: 20px 0;
	}
	.storeContent .word { 
		margin: 40px 0;
	}
	.storeContent .mapArea {
	    margin-top: 50px;
	}
	#map {
	    height: 380px;
	}
	.client .clientSlide, 
	.client .clientSlide a {
		height: 50px;
	}

	.detail .imageDetail .image {
		height: 500px;
	}
	.detail .imagePagination .image {
		height: 100px;
	}
	.detail .detailDesc {
	    padding: 0 0 0 40px;
	}
	.detail .detailContent:last-child {
	    margin-bottom: 0;
	    margin-top: 0;
	}
	.detail .detailDesc h3 {
		margin-bottom: 20px;
    	padding: 0 0 10px;
	}
	.detail .detailDesc h6,
	.detail .detailDesc p {
		font-size: 1em;
	}
	.detail .detailDesc h6 {
		margin: 0 0 6px;
	}
	ul.share li { 
		margin-right: 2px; 
		width: auto;
    	padding: 0;
	}
	ul.share a { 
		width: 80px; 
	}
	.inputArea,
	.uploadArea {
	    padding: 0 15px;
	}
	.submitArea {
	    padding: 0 15px;
	}
	.submitArea input[type="submit"] { 
		width: auto; 
	}

	.journal.container {
		padding: 50px 0;
	}

	.journal .titleArea {
		padding: 0;
	}

	.journal .journalContent {
		padding: 0;
	    padding-right: 20px;
	}

	.journal .journalSidebar {
		padding: 0;
		border-top: 0;
	    padding-left: 20px;
	}

	.journal .journalSidebar ul a { 
		font-size: 1.2em; 
	}

	.journal .subTitle {
		font-size: 1.8em;
	}

	.journal .contentArea .dateShare { 
		margin: 0 0 20px 0; 
	}

	.journal .date {
		font-size: 1.1em;
	}

	.journal .share .xn { 
		margin-right: 5px; 
	}

	.journal .share .text { 
		display: inline-block; 
	}

	.journal p {
		font-size: 1.1em; 
	}

	.journal .contentArea .more {
	    width: auto;
	    float: right;
	}

	ul.pagination { 
		margin-top: 20px; 
	}

	footer nav {
		float: right;
	}
	footer .social {
		margin-bottom: 0;
	}
	footer .social a {
		font-size: 1.6em;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
	footer p {
	    padding: 10px 0;
	    font-size: 0.9em;
	    float: left;
	}

	.owl-theme .owl-controls .owl-pagination {
		bottom: 10px;
	}

	.resp-tab-content { padding: 30px 0; border-bottom: 0; }
	.resp-tab-active { border-color: #aaa; }

	.inputArea { padding: 0; margin-bottom: 50px; }
	.inputArea .row { margin-top: -5px; margin-left: -10px; }
	.inputArea .input { margin: 0; padding: 5px 10px; }

	.uploadArea { padding: 0; }
	.uploadArea ul { margin-top: -5px; margin-left: -10px; }
	.uploadArea ul li { display: table; line-height: 0; padding: 10px; float: left; }
	.uploadArea .imageArea { height: 230px; }
	.uploadArea .imageArea .buttonUpload { font-size: 10em; line-height: 228px; }

	.submitArea { padding: 0; margin-top: 40px; }
}



@media (min-width:1023px) {
	.nav-menu { height: 100px; }
	.nav-menu .brand { 
		position: absolute; 
		right: 50%; 
		top: 0; 
		margin: 10px -40px 10px 0; 
		padding: 0; 
	}
	.nav-menu .brand a { 
		width: 80px; height: 80px; 
	}
	.nav-menu .menuArea { 
		display: block; 
	}
	.toggleDown { 
		display: none; 
	}
}



